# package directories
node_modules

# Serverless directories
dist
build
.build
.esbuild
.serverless

# local env files
# .env
# .env.local
# .env.dev
# .env.hml
# .env.prod

# misc
.testes
/generated/prisma
